@media screen and (max-width: 992px) {
  .header_btn {
    display: block;
  }
  nav {
    position: absolute;
    left: -350px;
    top: 0;
    width: 350px;
    background-color: #fff;
    padding: 84px 20px 20px 20px;
    transition: transform 0.5s;

    z-index: 2;
    .nav_mnu {
      display: flex;
      flex-direction: column;
      li {
        width: 100%;
        text-align: center;
        color: #111;
        font-size: 22px;
        display: block;
        padding: 10px 0;
      }
    }
  }
  #header.open {
    nav {
      transform: translateX(100%);
    }
  }
  .select_flow {
    .inputs {
      gap: 15px;
    }
  }
}
