* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */ }

a {
  color: inherit;
  text-decoration: none; }

a:hover,
a:focus {
  color: inherit;
  text-decoration: none; }

ul,
li {
  list-style-type: none; }

input,
button,
select,
textarea {
  border: 0;
  outline: none; }

body {
  color: black;
  font-family: "Montserrat", sans-serif; }

/*btns*/
#header.open .header_btn span {
  background-color: #111; }
#header.open .header_btn span:nth-child(1) {
  -webkit-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg); }
#header.open .header_btn span:nth-child(2) {
  opacity: 0; }
#header.open .header_btn span:nth-child(3) {
  -webkit-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg); }

.header_btn {
  cursor: pointer;
  display: none;
  position: relative;
  width: 48px;
  height: 48px;
  border: none;
  background-color: transparent;
  z-index: 3; }
  .header_btn span {
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: #000;
    left: 9px;
    -webkit-transition: opacity 0.5s, background-color 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, background-color 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
    transition: transform 0.5s, opacity 0.5s, background-color 0.5s, -webkit-transform 0.5s; }
  .header_btn span:nth-child(1) {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  .header_btn span:nth-child(3) {
    -webkit-transform: translateY(10px);
            transform: translateY(10px); }

.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-bottom: 20px; }
  .btns .btn_search,
  .btns .btn_show {
    cursor: pointer;
    background-color: #000;
    padding: 20px 10px;
    color: #fff;
    border: 1px solid #000;
    border-radius: 22px;
    font-weight: 700;
    font-size: 22px;
    min-width: 150px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease; }
  .btns .btn_search:hover,
  .btns .content_price:hover,
  .btns .btn_show:hover {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-color: #fff;
    color: #000;
    transition: all 0.4s ease;
    border-color: #000; }

.createProduct_btn,
.buy_product {
  cursor: pointer;
  background-color: #000;
  padding: 20px 10px;
  color: #fff;
  border: 1px solid #000;
  border-radius: 22px;
  font-weight: 700;
  font-size: 22px;
  min-width: 150px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .createProduct_btn:hover,
  .buy_product:hover {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-color: #fff;
    color: #000;
    transition: all 0.4s ease;
    border-color: #000; }

/*btns*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%; }

#header {
  -webkit-box-shadow: 0 1px 3px #e9e9e9;
          box-shadow: 0 1px 3px #e9e9e9;
  padding: 20px 0;
  margin-bottom: 50px; }
  #header .inner_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #header .inner_header a img {
      width: 48px;
      height: 48px; }
    #header .inner_header nav .nav_mnu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 20px; }
      #header .inner_header nav .nav_mnu li {
        font-weight: 500;
        font-size: 22px;
        padding: 10px;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease; }
      #header .inner_header nav .nav_mnu li:hover {
        color: #801653; }

.select_flow {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start; }
  .select_flow .inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .select_flow .inputs .search,
    .select_flow .inputs .price_from,
    .select_flow .inputs .price_up {
      position: relative;
      background-color: #fff;
      border: 2px solid #b3bcc5;
      border-radius: 6px;
      max-width: 100%; }
      .select_flow .inputs .search .search_inf,
      .select_flow .inputs .price_from .search_inf,
      .select_flow .inputs .price_up .search_inf {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-radius: 16px;
        -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
        position: relative; }
        .select_flow .inputs .search .search_inf .input_item,
        .select_flow .inputs .price_from .search_inf .input_item,
        .select_flow .inputs .price_up .search_inf .input_item {
          font-size: 22px;
          padding: 10px;
          width: 200px; }
      .select_flow .inputs .search .price_search,
      .select_flow .inputs .price_from .price_search,
      .select_flow .inputs .price_up .price_search {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
        position: relative;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse; }
        .select_flow .inputs .search .price_search .input_item,
        .select_flow .inputs .price_from .price_search .input_item,
        .select_flow .inputs .price_up .price_search .input_item {
          font-size: 22px;
          padding: 10px;
          width: 200px; }
        .select_flow .inputs .search .price_search p,
        .select_flow .inputs .price_from .price_search p,
        .select_flow .inputs .price_up .price_search p {
          padding-left: 6px;
          color: #707f8d;
          font-size: 22px; }
    .select_flow .inputs .search_drop_down {
      cursor: pointer;
      position: absolute;
      width: 100%;
      background-color: #fff;
      top: 46px;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease; }

.dropDown_item {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 12px 8px;
  font-size: 16px; }
  .dropDown_item:hover {
    background-color: gray;
    color: #fff;
    -webkit-transition: background 0.5s;
    transition: background 0.5s; }

#select,
#select_sort {
  opacity: 0.7;
  font-size: 22px;
  margin: 0 20px 0; }
  #select option,
  #select_sort option {
    font-size: inherit;
    opacity: inherit;
    border-radius: 16px;
    padding: 10px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); }

#select_sort {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 22px;
  border-radius: 16px;
  padding: 10px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); }

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  margin-bottom: 50px; }
  .products .product_card {
    display: block;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    background: #fff;
    height: 300px;
    padding-bottom: 12px;
    border: 1px solid #000; }
    .products .product_card .product_card_image {
      height: 60%; }
      .products .product_card .product_card_image > img {
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        width: 100%;
        height: 100%; }
    .products .product_card .product_card_content {
      padding: 20px 20px 10px; }
      .products .product_card .product_card_content .top_line {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .products .product_card .product_card_content .top_line .content_name {
          padding-bottom: 24px;
          font-weight: 900;
          font-size: 20px; }
        .products .product_card .product_card_content .top_line .delete_btn {
          cursor: pointer;
          width: 30px;
          height: 30px;
          position: relative;
          background-color: transparent; }
          .products .product_card .product_card_content .top_line .delete_btn span {
            position: absolute;
            left: 5px;
            width: 20px;
            height: 2px;
            background-color: #000; }
          .products .product_card .product_card_content .top_line .delete_btn span:first-child {
            -webkit-transform: translateY(0) rotate(-45deg);
                    transform: translateY(0) rotate(-45deg); }
          .products .product_card .product_card_content .top_line .delete_btn span:last-child {
            -webkit-transform: translateY(0) rotate(45deg);
                    transform: translateY(0) rotate(45deg); }
      .products .product_card .product_card_content .controls {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .products .product_card .product_card_content .controls .content_price {
          cursor: pointer;
          background-color: #000;
          color: #fff;
          border-radius: 18px;
          border: 1px solid #fff;
          padding: 10px 20px 10px;
          font-weight: 700;
          font-size: 20px;
          -webkit-transition: all 0.4s ease;
          transition: all 0.4s ease;
          margin-right: 50px; }
        .products .product_card .product_card_content .controls .content_sale {
          background-color: aqua;
          border-radius: 20px;
          font-size: 15px;
          font-size: 17px;
          padding: 10px; }

/*createProduct*/
#form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  margin: 0 auto;
  width: 400px;
  height: 475px;
  padding: 30px 30px;
  background-color: purple;
  border-radius: 18px; }
  #form .form_item {
    font-size: 22px;
    padding: 10px;
    width: 100%; }
    #form .form_item:nth-child(3n) {
      font-size: 50px; }
  #form .bestseller_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end; }
    #form .bestseller_item .bestseller_text {
      padding: 10px;
      font-size: 22px; }

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 100px;
  background-color: #f5f5f5;
  height: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 22px;
  color: #fff; }
  .article .img_product {
    max-width: 500px;
    border-radius: 22px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); }
  .article .descr_product {
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    background-color: purple;
    padding: 25px;
    font-size: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    text-align: center;
    border-radius: 22px; }
    .article .descr_product .name_product {
      font-size: 25px; }
    .article .descr_product .about_product {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 10px;
      text-align: start;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-bottom: 10px; }
      .article .descr_product .about_product .price_bn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        gap: 10px; }
        .article .descr_product .about_product .price_bn .old_price del {
          color: red;
          text-decoration: line-through; }
          .article .descr_product .about_product .price_bn .old_price del span {
            color: #fff; }
        .article .descr_product .about_product .price_bn .new_price {
          color: yellow; }
      .article .descr_product .about_product p {
        font-size: 27px;
        color: yellow; }
    .article .descr_product .buy_product {
      padding: 5px; }
